*{
    margin: 0;
    padding: 0;
}
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
  
.container{
    /* width: 1300px; */
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}
header{
    background-color: #21243d;
}
.navbar{
    padding: 15px 0;
    align-items: center;
}
.sec-one{
    background-image: url(img/Main\ BG\ Img.png);
    background-size: cover;
    background-position: center;
}
.po-rel{
    position: relative;
}
.po-ab{
    position: absolute;
}
.col-50{
    width: 100%;
}
.col-30{
    width: 100%;
}
.col-45{
    width: 100%;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.jcs{
    justify-content: space-between;
}
.align{
    align-items: center;
}
.links ul li{
    display: inline-block;
    margin: 0 30px;
}
.links a{
    text-decoration: none;
    font-size: 20px;
    color: white;
}
.icon i{
    font-size: 25px;
    color: white;
}
.sec-one-taxt{
    padding: 100px 0;
}
.sec-one-taxt h1 {
    padding: 20px 0;
    font-size: 100px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.sec-one-taxt p{
    padding: 30px 0;
    width: 50%;
    font-size: 30px;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
.sec-one-taxt button{
    padding: 10px 50px;
    background-color: #21243d;
    font-size: 20px;
    color: white;
    border-radius: 100px;
    border: none;
}
.sec-two{
    background-color: #21243d;
}
.sec-two{
    padding: 100px 0;
}
.sec-two-taxt h2{
    text-align: center;
    font-size: 50px;
    color: white;
}
.sec-two-taxt p{
    padding: 30px 0;
    text-align: center;
    font-size: 20px;
    color: white;
    width: 40%;
    margin: 0 auto;
}
.sec-two-subtaxt img{
    border-radius: 70%;
    display: block;
    margin: 0 auto;
    /* width: 100%; */
}
.sec-two-subtaxt h3{
    font-size: 30px;
    padding: 10px 0;
    color: white;
    text-align: center;
}
.sec-two-subtaxt p{
    color: white;
    width:  60%;
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
}
.sec-three{
    background-color: #ffd17e;
}
.sec-three-main{
    padding: 100px 0;
}
.col-45 img{
    display: block;
    margin: 0 auto;
    width: 100%;
    border-radius: 50%;
}
.sec-three h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 90px;
}
.sec-three p{
    font-family: 'Montserrat', sans-serif;
    margin: 40px 0;
    font-size: 25px;
    width: 77%;
}
.sec-three-taxt button{
    padding: 10px 50px;
    background-color: #21243d;
    font-size: 20px;
    color: white;
    border-radius: 100px;
    border: none;
} 
.sec-four{
    background-color: #21243d;
}
.sec-four-main{
    padding: 100px 0;
}
.sec-four-taxt h3{
    font-size: 60px;
    text-align: center;
    color: white;
}
.sec-four-taxt p {
    font-size: 30px;
    text-align: center;
    color: white;
    width: 52%;
    padding: 50px 0;
    margin: 0 auto;
}
.box-1 h3{
    font-size: 30px;
    color: white;
}
.box-1{
    justify-content: space-between;
    border: solid 3px white;
    padding: 60px 45px;
    margin: 0px 93px;
    text-align: center;
    border-radius: 50%;
}
.sec-five{
    background-color: #ffd17e;
}
.sec-five-main{
    padding: 100px 0;
}
.sec-five-taxt h4{
    font-family: 'Montserrat', sans-serif;
    font-size: 90px;
    padding: 10px 0;
}
.sec-five-taxt p{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    width: 77%;
    padding: 20px 0;
}
.sec-five-taxt button{
    padding: 10px 50px;
    background-color: #21243d;
    font-size: 20px;
    color: white;
    border-radius: 100px;
}
.sec-six{
    background:
    linear-gradient(
        rgba(12, 5, 41, 0.84), rgba(4, 1, 53, 0.785)),
        url(img/sec-6\ BG\ main.png);
    background-size: cover;
}
.cart-5{
    padding: 100px  0;
}
.sec-six-img{
    width: 100%;
}
.cart-5 img{
    display: block;
    border-radius: 90%;
    margin: 0 auto;
}
.sec-six-taxt p{
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    width: 52%;
    margin: 0 auto;
    text-align: center;
    color: white;
    padding: 30px 0;
}
.sec-six-taxt h4{
    font-size: 30px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
.sec-seven{
    /* height: 600px; */
    background-color:#ffd17e ;
}
.cart-6{
    padding: 100px 0;
}
.sec-seven-taxt h4{
    font-size: 70px;
    margin: 50px 0;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
.sec-seven-taxt p{
    width: 50%;
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    padding: 30px 0;
    text-align: center;
    font-size: 25px ;
}
.input{
    width: 60%;
    margin: 60px auto;
    text-align: center;
    padding: 30px 0;
}
.input button{
    border-radius: 20px 20px 20px 20px ;
    margin-left: -20px;
    padding: 10px;
    background-color: #21243d;
    border: none;
    color: white;
}
.input input{
    padding: 10px;
    width: 60%;
    border-radius: 20px 0 0 20px;
    border: none;
    outline: none;
    background-color: #fff;
}
footer{
    background-color: #303030;
}
.main-text-3{
    padding: 100px 0;
}
.sec-nine-subtext{
    width: 50%;
}
.main-text-3 h3{
    font-size: 30px;
    color: white;
    font-family: 'Oswald', sans-serif;
}
.main-text-3 p{
    color: white;
    padding: 13px 0;
    width: 52%;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}
.main-text-3 i{
    border-radius: 50%;
    background-color: white;
    padding: 5px;
    margin-left: 5px;
}
.sec-nine-subtext h3{
    font-size: 20px;
    color: white;
    font-family:'Oswald', sans-serif ;
}
ul li{
    list-style: none;
    padding: 5px 0;
}
li a{
    text-decoration: none;
    font-size: 15px;
    color: white;
    font-family: 'Oswald', sans-serif;  
}
.sec-two{
    overflow: hidden;
}
.sec-two .shape-1{
    left: 230px;
    top: -20px;
}
.sec-two .shape-2{
    top: 170px;
    left: 90px;
}
.sec-two .shape-3{
    width: 10%;
    bottom:30px;
    left: -75px;
}
.sec-two .shape-4{
    right: 0;
    bottom: 15px;
}
.sec-two .shape-5{
    right: -25px;
    top: 200px;
}
.sec-two .shape-6{
    right: -5px;
    top: -40px;
}
.sec-three{
    overflow: hidden;
}
.col-45{
    z-index: 1;
}
.sec-three-main img{
    z-index: 1;
}
.sec-three .shape-1{
    top: 30px;
    left: 110px;
}
.sec-three .shape-2{
    bottom: 35px;
    left: 25px;
}
.sec-three .shape-3{
    right: -40px;
    bottom: 30px;
}
.sec-three .shape-4{
    right: 40px;
    top: 40px;
}
.sec-three .shape-5{
    left: 825px;
    top: 55px;
}
.sec-fore{
    overflow: hidden;
}
.sec-four .shape-1{
    top: 40px;
    left: 55px;
}
.sec-four .shape-2{
    top: 200px;
    left: 70px;
}
.sec-four .shape-3{
    bottom: -65px;
    left: 300px;
}
.sec-four .shape-4{
    right: 425px;
    bottom: 40px;
}
.sec-four .shape-5{
   right: 75px;
   top: 100px;
}
.sec-five .shape-1{
    left: 70px;
    top: 100px;
}
.sec-five .shape-2{
    bottom: 60px;
    left: 475px;
}
.sec-five .shape-3{
    bottom: 55px;
    right: 30px;
}
.sec-five-main img{
    position: relative;
    z-index: 1;
}
.sec-five .shape-4{
    right: 100px;
    top: 30px;
}
.sec-five .shape-5{
    left: 600px;
    top: 45px;
}
.sec-seven{
    overflow: hidden;
}
.sec-seven .shape-1{
    top: 55px;
    left: 70px;
}
.sec-seven .shape-2{
    bottom: 90px;
    left: 70px;
}
.sec-seven .shape-3{
    width: 120px;
    bottom: 20px;
    left: 700px;
}
.sec-seven .shape-4{
    right: 50px;
    bottom: 30px;
}
.sec-seven .shape-5{
    top: 30px;
    right: -55px;
}
@media(min-width: 576px){
    .container{
        width: 550px;
    }
    .sec-one{
        background-image: url(img/Main\ BG\ Img.png);
        background-size: cover;
        background-position: center;
    }
    .col-30{
        width: 50%;
        display: block;
        margin: 10px auto;
        text-align: center;
    }
    .col-50{
        width: 90%;
    }
    .col-45{
        width: 45%;
    }
    .sec-one-taxt h1{
        font-size: 50px;
    }
    .sec-one-taxt p{
        width: 76%;
        font-size: 20px;
        padding: 30px 0;
    }
    .sec-one-taxt button{
        padding: 10px 25px;
        font-size: 10px;
    }
    .sec-two-taxt h2{
        font-size: 35px;
    }
    .sec-two-taxt p{
        width: 54%;
        font-size: 13px;
    }
    .sec-two-subtaxt img{
        width: 50%;
    }
    .sec-two-subtaxt h3 {
        font-size: 25px;
    }
    .sec-two-subtaxt p{
        width: 83%;
        font-size: 20px
    }
    .sec-three h3{
        font-size: 50px;
    } 
    .sec-three p{
        width: 95%;
        font-size: 12px;       
    }
    .sec-three-taxt button {
        padding: 10px 25px;
        font-size: 12px;
    }
    .sec-four-taxt h3 {
        font-size: 40px;
    }
    .sec-four-taxt p{
        width: 65%;
        font-size: 15px;
    }
    .box-1 h3{
        font-size: 15px;
    }
    .box-1{
        padding: 60px 15px;
        text-align: center;
        width: 50%;
        margin: 0 auto;
        border-radius: 50%;
    }
    .sec-four-tatx p{
        width: 86%;
        font-size: 20px;
    }
    .sec-five-taxt h4{
        font-size: 50px;
    }
    .sec-five-taxt p {
        width: 98%;
        font-size: 14px;
    }
    .sec-five-taxt button {
        padding: 10px 27px;
        font-size: 14px;
    }
    .sec-six-taxt p{
        width: 60%;
        font-size: 15px;
        text-align: center;
        margin: 0 auto;
    }
    .sec-six-taxt h4 {
        font-size: 15px;
    }
    .sec-seven-taxt h4 {
        font-size: 55px;
    }
    .sec-seven-taxt p{
        width: 95%;
        font-size: 20px;    
    }
    .input input{
        width: 65%;
    }
    .main-text-3 p{
        width: 51%;
        font-size: 15px;
    }
    .main-text-3 i{
        padding: 5px;
    }
    li a {
        font-size: 10px;
    }
    .sec-nine-subtext{
        padding: 10px 0;
    }
} 
@media(min-width:768px){
    .container{
        width: 720px;
    }
    .sec-one{
        background-image: url(img/Main\ BG\ Img.png);
        background-size: cover;
        background-position: center;
    }
    .col-30{
        width: 50%;
        display: block;
        margin: 0 auto;
        text-align: center;
    }
    .col-50{
        width: 75%;
    }
    .col-45{
        width: 45%;
    }
    .sec-one-taxt h1{
        font-size: 65px;
    }
    .sec-one-taxt p{
        width: 57%;
        font-size: 22px;
        padding: 30px 0;
    }
    .sec-one-taxt button{
        padding: 10px 35px;
        font-size: 15px;
    }
    .sec-two-taxt h2{
        font-size: 40px;
    }
    .sec-two-taxt p{
        width: 47%;
        font-size: 15px;
    }
    .sec-two-subtaxt img{
        width: 70%;
    }
    .sec-two-subtaxt h3 {
        font-size: 25px;
    }
    .sec-three p{
        width: 90%;
        font-size: 16px;       
    }
    .sec-three-taxt button {
        padding: 10px 35px;
        font-size: 15px;
    }
    .sec-four-taxt h3 {
        font-size: 50px;
    }
    .box-1 h3{
        font-size: 20px;
    }
    .sec-four-taxt p{
        width: 65%;
        font-size: 20px;
    }
    .box-1 h3{
        font-size: 20px;
    }
    .box-1 {
        padding: 75px 13px;
    }
    .sec-five-taxt h4{
        font-size: 70px;
    }
    .sec-five-taxt p {
        width: 98%;
        font-size: 20px;
    }
    .sec-five-taxt button {
        padding: 10px 30px;
        font-size: 16px;
    }
    .sec-six-taxt p{
        width: 60%;
        font-size: 20px;
        text-align: center;
        margin: 0 auto;
    }
    .sec-six-taxt h4 {
        font-size: 20px;
    }
    .sec-seven-taxt p{
        width: 85%;
        font-size: 25px;    
    }
    .sec-seven-taxt h4 {
        font-size: 65px;
    }
    .input input{
        width: 75%;
    }   
    .main-text-3 h3 {
        font-size: 30px;
    }
    .main-text-3 p{
        width: 65%;
        font-size: 20px;
    }
    .main-text-3 i{
        padding: 7px;
    }
    li a {
        font-size: 15px;
    }
    .sec-nine-subtext{
        padding: 10px 0;
    }

} 
@media(min-width:992px){
    .container{
        width: 950px;
    }
    .sec-one{
        background-image: url(img/Main\ BG\ Img.png);
        background-size: cover;
        background-position: center;
    }
    .row{
        flex-wrap: nowrap;
    }
    .col-50{
        width: 50%;
    }
    .col-30{
        width: 30%;
    } 
    .col-45{
        width: 45%;
    }
    .sec-one-taxt h1{
        font-size: 80px;
    }
    .sec-one-taxt p{
        width: 50%;
        font-size: 25px;
    }
    .sec-one-taxt button{
        padding: 10px 40px;
        font-size: 20px;
    }
    .sec-two-taxt h2 {
        font-size: 45px;
    }
    .sec-two-taxt p{
        width: 45%;
        font-size: 18px;
    }
    .sec-two-subtaxt p{
        width: 100%;
        font-size: 25px;
    }
    .sec-two-subtaxt img{
        width: 80%;
    }
    .sec-two-subtaxt h3 {
        font-size: 30px;
    }
    .sec-three h3{
        font-size: 80px;
    }
    .sec-three p{
        width: 89%; 
        font-size: 21px;        
    }
    .sec-three-taxt button{
        padding: 10px 40px;
        font-size: 18px;
    }
    .sec-four-taxt h3 {
        font-size: 60px;
    }
    .sec-four-taxt p{
        width: 55%;
        font-size: 23px;
    }
    .box-1 h3{
        font-size: 30px;
    }
    .box-1 {
        padding: 65px 35px;
    }
    .sec-four-tatx h3{
        font-size: 60px;
    }
    .sec-five-taxt h4{
        font-size: 90px;
    }
    .sec-five-taxt p {
        width: 93%;
        font-size: 25px;
    }
    .sec-five-taxt button {
        padding: 10px 35px;
        font-size: 20px;
    }
    .col-45 img {
        width: 80%;
    }
    .sec-six-taxt p{
        width: 50%;
        font-size: 25px;
        text-align: center;
        margin: 0 auto;
    }
    .sec-six-taxt h4 {
        font-size: 30px;
    }
    .sec-seven-taxt h4 {
        font-size: 70px;
    }
    .sec-seven-taxt p{
        width: 80%;
        font-size: 30px;    
    }
    .input input{
        width: 84%;
    }   
    .main-text-3 h3 {
        font-size: 40px;
    }
    .main-text-3 p{
        width: 88%;
        font-size: 25px;
    }
    .main-text-3 i{
        padding: 10px;
    }
    li a {
        font-size: 20px;
    }
    .sec-nine-subtext{
        padding: 0 0;
    }
}
@media(min-width:1200px){
    .container{
        width: 1200px;
    }
    .sec-one{
        background-image: url(img/Main\ BG\ Img.png);
        background-size: cover;
        background-position: center;
    }
    .col-50{
        width: 50%;
    }
    .col-30{
        width: 30%;
    }
    .col-45{
        width: 45%;
    }
    .sec-one-taxt h1{
        font-size: 100px;
    }
    .sec-one-taxt p{
        font-size: 30px;
        width: 50%;
    }
    .sec-two-taxt h2 {
        font-size: 50px;
    }
    .sec-two-taxt p{
        width: 53%;
        font-size: 25px;
    }
    .sec-two-subtaxt img{
        width: 75%;
    }
    .sec-two-subtaxt h3 {
        font-size: 30px;
    }
    .sec-two-subtaxt p {
        font-size: 25px;
    }
    .sec-three h3{
        font-size: 80px;
    }
    .sec-three p{
        width: 99%; 
        font-size: 30px;        
    }
    .sec-three-taxt button{
        padding: 10px 50px;
        font-size: 20px;
    }
    .sec-four-taxt h3 {
        font-size: 60px;
    }
    .sec-four-taxt p{
        width: 48%;
        font-size: 25px;
    }
    .box-1 h3{
        font-size: 30px;
    }
    .box-1 {
        padding: 85px 35px;
        /* text-align: center;
        width: 50%;
        margin: 0 auto;
        border-radius: 50%; */
    }
    .sec-four-tatx p{
        width: 50%;
        font-size: 25px;
    }
    .sec-five-taxt h4{
        font-size: 90px;
    }
    .sec-five-taxt p {
        width: 88%;
        font-size: 30px;
    }
    .sec-five-taxt button {
        padding: 10px 35px;
        font-size: 20px;
    }
    .col-45 img {
        width: 85%;
    }
    .sec-six-taxt p{
        width: 39%;
        font-size: 25px;
        text-align: center;
        margin: 0 auto;
    }
    .sec-six-taxt h4 {
        font-size: 30px;
    }
    .sec-seven-taxt h4 {
        font-size: 70px;
    }
    .sec-seven-taxt p{
        width: 70%;
        font-size: 30px;    
    }   
    .main-text-3 h3 {
        font-size: 40px;
    }
    .main-text-3 p{
        width: 72%;
        font-size: 25px;
    }
    .main-text-3 i{
        padding: 10px;
    }
    li a {
        font-size: 20px;
    }
    .sec-nine-subtext{
        padding: 0 0;
    }
}