/* @media(min-width:1200px){
    .container{
        width: 1200px;
    }

    .location i{
        left: 340px;
    }
    .inputs i {
        left: 545px;
    }
    .links a{
        margin: 0 5px;
    }
    .sec-four-taxt span i{
        margin-left: 6rem;
    }
    .sec-five-taxt span i{
        margin-left: 6rem;
    }
    .sec-six-taxt span i{
        margin-left: 6rem;
    }
} */